{% extends 'home/index.html' %}

{% block contents %}
<div>게시판 상세보기</div>
<div style="border: 1px black solid; margin: 20px 0px;"></div>

{% if writer %}
<a href="/boards/detail/{{ board.id }}/modify/"><button>수정</button></a>
<a href="/boards/detail/{{ board.id }}/delete/"><button>삭제</button></a>
{% endif %}

<div>
    작성자 : {{ board.writer }} | 작성일 : {{ board.write_dttm }} | 조회수 : {{ board.hits }}
</div>
<div>
    제목 : {{ board.title }}
</div>
<div>
    내용 : {{ board.contents|safe }}
</div>

{% endblock contents %}