<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    {% load static %}
    <link rel="stylesheet" href="../../../static/css/uikit.min.css" />
    <script src="../../../static/js/uikit.min.js"></script>
    <script src="../../../static/js/uikit-icons.min.js"></script>
</head>
<body>
    <h1>게시판</h1>
    <a href="/"><button>홈으로</button></a>
    <a href="{% url 'boards:board_list' %}"><button>게시판</button></a>

    {% if login_session %}
    <a href="{% url 'user:logout' %}"><button>로그아웃</button></a>
    {% else %}
    <a href="{% url 'user:login' %}"><button>로그인</button></a>
    <a href="{% url 'user:register' %}"><button>회원가입</button></a>
    {% endif %}

    <div style="border: 1px black solid; margin: 20px 0px;"></div>
    {% block contents %}
    {% endblock contents %}
</body>
</html>